body{background-color: #1a1a1a;}

/*LOADER BY: https://cssloaders.github.io*/
.loader {
  width: 20px;
  height: 12px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: #FFF;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.6s 0.3s ease infinite alternate;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader  0.6s ease infinite alternate;
}

.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}

/*END LOADER*/
@keyframes FadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.logo {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #ffc400, #ff9100, #ff530f, #e62c6d, #e62c6d, #ff530f, #ff9100, #ffc400);
    background-size: 200% auto;
    animation: gradient 1s linear infinite;
    -webkit-mask-image: url('../assets/_gear.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    mask-image: url('../assets/_gear.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    display: inline-block;
}

@keyframes gradient {
    95% {background-position: 200% center}
    100%{background-position: 204% center;}
}